extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 #{cook}
  .image-block
    h3 Certificate
    img.className#IdName(src="https://tryhackme-certificates.s3-eu-west-1.amazonaws.com/THM-IKMH33OTUJ.png" alt="Image Title")
